$COMMENT {
  display: inline;
  color: #800000;
  white-space: pre;
  font-family: sans-serif;
  background-color: #E0E0E0;
  text-align: left;
}

$PROCINS {
  color: black;
  background-color: #c0c0c0;
  text-align: left;
}


head{
  font-weight: bold;
  font-family: Verdana, Tahoma, sans-serif;
  display: block;
  font-size: 150%;
  border-top: medium;
  color: brown;
  text-align: center;
  margin-bottom: 8pt;
  font-style: italic;
}

front {text-indent: 15pt;}

body{
  display: block;
  font-family: "Footlight MT Light", Garamond, Palatino, "Times New Roman", serif;
  padding-left: 8pt;
  padding-top: 8pt;
  font-size: 12pt;
  line-height: 18pt;
  text-align: left;
  del{display:block;color: red}
  abbr(display:block;color: brown)

}

figDesc{display: none}

salute{display:block; line-height: 200%}
dateLine{display:block; text-align:right}
opener{display:block; line-height: 200%}
sp{line-height: 100%}

pb{}
teiHeader{display:none}
front{display:block}
back{display:block}

h1{display:block;text-align:center;font-size: large;color: brown; line-height: 200% 
border-top: medium; margin-bottom: 8pt;font-style: italic}

h2{display:block;text-align:center;font-size: large;color: green; line-height: 150% 
border-top: medium; margin-bottom: 8pt;font-style: italic}

h3{display:block;text-align:center;color: blue; line-height: 100% 
border-top: medium; margin-bottom: 8pt;font-style: italic}

del{display:block;color: red}
abbr(display:block;color: green)
add{display:block;color: green}
xref{display:block;color: green}
lb{display:block}
br{display:block}
seg{display:block;text-indent:25px;font-style:italic;line-height: 200%}
stage{display:block;text-indent:25px;font-style:italic}
speaker{display:block;font-style:italic}
p{display:block}
ul{display:block;list-style-type:decimal}
li{display:block;list-style-type:decimal;background: white}
idno{display:none}
note{line-break-before:never}
div{page-break-before:always}
div0{page-break-before:always}
div1{page-break-before:always}
titlePart{display:block;text-align:center}
docTitle{display:block;text-align:center}
byline{display:block;text-align:center}
docAuthor{display:block;text-align:center}
docImprint{display:block;text-align:center}
pubPlace{display:block;text-align:center}
img{float:left;margin-right:10px;margin-left:10px;margin-top:10px;margin-bottom:10px}
